anyio
asn1crypto
asttokens
azure-core
azure-storage-blob
cancel-token
casefy
certifi
certvalidator
cffi
charset-normalizer
colorama
comm
cryptography
dacite
decorator
dnv-onecompute
dnv-oneworkflow
dnv-sesam-commands
exceptiongroup
executing
h11
httpcore
httpx
idna
ipython
ipywidgets
isodate
jedi
jupyterlab-widgets
matplotlib-inline
msal
msal-extensions
mscerts
oscrypto
overrides
packaging
parso
portalocker
prompt-toolkit
psutil
pure-eval
py
pyasn1
pyasn1-modules
pycparser
pygments
pyjwt
python-dateutil
pywin32
requests
retry
setuptools
signify
six
sniffio
stack-data
tqdm
traitlets
typing-extensions
urllib3
wcwidth
widgetsnbextension